body {
  margin: 0;
  padding:0;
  background-color: #421887;
  width:100%;
  font-family: 'Playfair Display SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


